<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Velocity Exam</h1>
    <p class="col-md-8 fs-4">This test contains 10 questions</p>
    <h4>Points to be Noted:</h4>
    <ul>
        <li>Attempt All questions.</li>
        <li>Each correct answer get +10 points</li>
        <li>Negative Marking, -5 for each wrong answer</li>
        <li>Online Proctering is done at backend, do not switch the tabs</li>
    </ul>
    <div class="name col-md-4 my-3">
        <label for="">Enter your name*</label>
        <input #name type="text" class="form-control">

    </div>
    <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startQuiz()">Click here to Proceed!</button>

</div>